@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);

$mainColor: #13bdd2;

.logo {
    float:left;
    display: inline-block;
    height: 5em;
    width: 5em;
    margin: 1em 0.2em 0 0;
    border: 0.1em solid white;
    border-radius: 5%;
}

.avatar {
    background-image: url('https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xlf1/v/t1.0-9/11951137_10153623807859185_6381668003528920957_n.jpg?oh=48982ae0217ec68fb68c640e89ceccf6&oe=5858AB10&__gda__=1481266607_8165fc95192ea4e97d7408bc5f971b92');
    height: 5em;
    width: 5em;
    margin: auto;  
    background-size: cover;
    float: left;
    display: inline-block;
    margin: 1em 1em 1em 0;
    border-radius: 5%;
    border: 0px solid;
}

.userProfile {
    width: 7em;
    float: left;
    margin: 1em 0;
    p {
        font-size: 1.5em;
        font-family: 'Roboto Condensed';
        color: white;
        line-height: 80%;
        margin-top: 0.5em; 
    }
}

.navBox {
    background-color: $mainColor;
    height: 20%;
}

.envelope {
    width: 1.5em;
    float: left;
    position: relative;
    margin-right: 1em;
}

.wheel {
    width: 1.5em;
    float: left;
    position: relative;
    margin-right: 1em;
}

.wheel img:hover {
    transform: rotate(360deg);
    transition: 2s cubic-bezier(.17,.67,.21,1.69);
}

.award {
    width: 1.5em;
    float: left;
    position: relative;
}

body {
	background: #DDD;
	font-size: 15px;
}

.logout {
    width: 5em;
    height: 5em;
    float: right;
    position: relative;
    border-left: 0.1em solid white;
    padding-left: 0.5em;
    padding: 1.5em;
    margin-top: 1em;
}

.logout img {
    height: 2em;  
}

nav {
    margin-right: 1em;
}

nav li {
    display: inline-flex;
    font-family: 'Roboto Condensed';
    color: white;
    padding: 1em;
}

nav li:hover {
    background-color: black;
}

nav li a {
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: 2.5em;
    display:block;
    text-align:center;
    padding-top: 3em; 
    margin-top: 1em;
    color: white;
    align-items: stretch;
    
}

.menuHome a {
    background-image: url('../media/images/home.png');
}

.menuAnalyse a {
    background-image: url('../media/images/analyse.png');
}

.menuPlan a {
    background-image: url('../media/images/plan.png');
}

.menuEarn a {
    background-image: url('../media/images/earn.png');
}

h1 {
    font-family: 'Roboto Condensed';
    margin-top: 0.5em;
}

.show {
    margin-top: 1.7em;
    font-family: 'Roboto Condensed';
    font-size: 1.5em;
    display: inline-block;
    float: right;
}

#showText {
    display: inline-block;
    float: left;
}

.show button {
    float: left;
    position: relative;
    border: none;
    color: white;
    padding: 0.7em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    border-radius: 5%;
}

.all {
    background-color: $mainColor;
    margin-right: 1em;
    margin-left: 1em;
}

.notFinished {
    background-color: #aeaeae;   
}

.balance, .funds, .payments {
    display: inline-block;
    font-family: 'Roboto Condensed';
    margin-right: 2em;
    font-size: 1.5em;
    
}

.main {
    background-color: #d9dada;
}

.accountPossibilities {
    margin-top: 1.7em;
    font-family: 'Roboto Condensed';
    font-size: 1.5em;
    float: left;
    clear: both;
    margin-bottom: 0.2em;
}

.possibilities {
    width: 12em;
    height: 12em;
    background-color: white;
    border-radius: 5%;
    margin-right: 0.5em;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    display: inline-block;
    font-family: 'Roboto Condensed';
    p {
        text-align: center;
        padding-top: 6em;     
    }
}

.completed {
    background-image: url('../media/images/firstLogin.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: white;
}

.completed div {
    background-image: url('../media/images/tick.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 5;
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
    margin-left: 0.4em;
    margin-top: 0.2em;
    text-align: center;
    
}

.completed, .unfinished {
     a {
        text-decoration: none;
        color: white;
    }
}

.notStarted {
    background-image: url('../media/images/searchBadge.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding-bottom: 0.5em;
    a {
        text-decoration: none;
        color: black;
        display: block;
        width: 100%;
        position: relative;
        z-index: 2;
    }
    a:hover {
        color: white;
    }
    a:after {
        content: "";
        height: 12em;
        right: 0;
        top: -0.4em;
        width: 0;
        position: absolute;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        z-index: -1;
        border-radius: 5%;
    }
    a:hover:after {
        width: 100%;
        background-color: darkred;
        color: white;
    }

    
}

.notStarted div, .unfinished div {
    z-index: 5;
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
    margin-left: 0.4em;
    margin-top: 0.2em;
    
}

.savingGoals {
    background-image: url('../media/images/darts.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: white;
    a {
        text-decoration: none;
        display: block;
        width: 100%;
        position: relative;
        z-index: 2;
    }
    a:after {
        content: "";
        height: 12em;
        right: 0;
        top: -0.4em;
        width: 0;
        position: absolute;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        z-index: -1;
        border-radius: 5%;
    }
    a:hover:after {
        width: 10%;
        background-color: $mainColor;
        color: white;
    }
}

.personalSettings {
    background-image: url('../media/images/tie.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: white;
    a {
        text-decoration: none;
        display: block;
        width: 100%;
        position: relative;
        z-index: 2;
    }
    a:after {
        content: "";
        height: 12em;
        right: 0;
        top: -0.4em;
        width: 0;
        position: absolute;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        z-index: -1;
        border-radius: 5%;
    }
    a:hover:after {
        width: 48%;
        background-color: $mainColor;
        color: white;
    }
}

.started { // cien gdy jest obrazek
    box-shadow: inset 0 -30px 40px black;
}

.badges {
   width: 12em;
   height: 12em;
    padding-bottom: 0.5em;
    font-family: 'Roboto Condensed';
    text-align: center;
    margin-bottom: 1em;  
    display: inline-block; 
    border-radius: 5%;
    background-color: white;
    margin-right: 0.5em;
    p {
        text-align: center;
        padding-top: 7em;     
    }
}

.emptyBadge {
   background-image: url('../media/images/ribbon.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 40%;
   a {
        text-decoration: none;
        color: black;
        display: block;
        width: 100%;
        position: relative;
        z-index: 2;
    }
}

.regularLogin {
   background-image: url('../media/images/keys.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%; 
   color: white;
   a {
        text-decoration: none;
        color: white;
        display: block;
        width: 100%;
        position: relative;
        z-index: 2;
    }
}

.smartSaving {
   background-image: url('../media/images/saving.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%; 
   color: white;
   a {
        text-decoration: none;
        color: white;
        display: block;
        width: 100%;
        position: relative;
        z-index: 2;
    }
}

.smartSaving div {
    background-image: url('../media/images/star.png');
    background-position: left;
    background-size: 1em;
    z-index: 5;
    width: 2em;
    height: 1em;
    font-size: 2em;
    margin-left: 3.5em;
    margin-top: 0.2em;
    text-align: center;   
}

.regularLogin div {
    background-image: url('../media/images/star.png');
    background-position: left;
    background-size: 1em;
    z-index: 5;
    width: 3em;
    height: 1em;
    font-size: 2em;
    margin-left: 2.5em;
    margin-top: 0.2em;
    text-align: center;   
}

.emptyBadge div {
    background-image: url('../media/images/starGrey.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 5;
    width: 1em;
    height: 1em;
    font-size: 2em;
    margin-left: 4.5em;
    margin-top: 0.2em;
    text-align: center;   
}

.envelope a {
    display:block;
    position:relative;
}

.envelope a:hover, .envelope a:active, .envelope a:focus {
    color:#eee;
    text-shadow:0.063em 0.063em 0 #547177;
}

.envelope a[data-bubble]:after {
    content:attr(data-bubble);
    position:absolute;
   top:0;
    left:0.5em;
    height:1.5em;
    line-height:1.5em;
    padding:0 .46em;
    text-align:center;
    text-shadow:0 0.063em 0 rgba(0,0,0,.2);
    color: white;
    background-color:#e81c7b;
    box-shadow:0 0.063em 0.063em rgba(0,0,0,.2);
    border-radius:4em;
    z-index:-1;
  -webkit-transform: translateZ(0);/*Prevents text flicker*/
    will-change: transform;
}

a.gold[data-bubble]:after {
    background-color:gold;
}

.envelope a:hover[data-bubble]:after, .envelope a:active[data-bubble]:after, .envelope a:focus[data-bubble]:after {
    -webkit-animation:ease bubbleover .4s;
    animation:ease bubbleover .4s;
  -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    top:-1.25em; /* If pseudo animation not supported [see http://css-tricks.com/transitions-and-animations-on-css-generated-content/], simple hover fallback happens*/
    z-index:1;
}

@-webkit-keyframes bubbleover {
  0%   {
    -webkit-transform:translate(0, 1em);
    z-index:-1
    }
  50% {
    -webkit-transform:translate(0, -.5em);
    z-index:-1
  } 
  100% {
    -webkit-transform:translate(0, 0);
    z-index:1;
    }
}

@keyframes bubbleover {
  0%   {
    top:0;
    transform:translate(0, 0);
    z-index:-1;
    }
  50% {
    transform:translate(0, -12px);
    z-index:-1
    } 
  100% {
    transform:translate(0, 6px);
    z-index:1;
    }
}