
.loginBackground {
    background-image: url("../media/images/background.png");
    padding: 20px;
}

.logo img {
    border: 1px solid white;
    border-radius: 5%;
    float: right;
}

.loginBox {
    background-color: #13bdd2;
    border-radius: 5%;
    color: white;

}